
<app-page-header title="Add RWFIS" title1="RWFIS Manage" activeTitle="Add RWFIS"></app-page-header>

<div class="row">

    <div class="col-xl-12">
        <app-showcode-card [title]="'Add RWFIS'" [prism]="prismCode.formlayouts10">
            <form [formGroup]="rwfisForm" (ngSubmit)="onSubmit()">  
                <div class="row">
                    <div >
                        <h1 class="page-title fw-medium fs-14 mb-2">Basic Details:</h1>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="state_id">State</label><span class="text-danger">*</span>
                        <select (change)="getDistrctList(rwfisForm.get('state_id')?.value)" class="form-select" [ngClass]="{ 'is-invalid':rwfisForm.get('state_id')?.invalid && rwfisForm.get('state_id')?.touched}" id="state_id" formControlName="state_id">
                            <option value="" selected disabled>Select</option>
                            @for (row of stateList; track $index) {
                            <option value="{{row.state_id}}">{{row.state_name}}</option>
                            }
                        </select>   
                        @if(rwfisForm.get('state_id')?.invalid && rwfisForm.get('state_id')?.touched){
                            <span  class="text-danger">Please select valid state</span>
                        } 
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="district_id">District</label><span class="text-danger">*</span>
                        <select  (change)="getCitytList(rwfisForm.get('district_id')?.value)" class="form-select" [ngClass]="{ 'is-invalid':rwfisForm.get('district_id')?.invalid && rwfisForm.get('district_id')?.touched}" id="district_id" formControlName="district_id">
                            <option value="" selected disabled>Select</option>
                            @for (row of districtList; track $index) {
                              <option value="{{row.district_id}}">{{row.district_name}}</option> 
                            }
                        </select>   
                        @if(rwfisForm.get('district_id')?.invalid && rwfisForm.get('district_id')?.touched){
                            <span  class="text-danger">Please select valid district</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="city_id">Block</label><span class="text-danger">*</span>
                        <select class="form-select" [ngClass]="{ 'is-invalid':rwfisForm.get('city_id')?.invalid && rwfisForm.get('city_id')?.touched}" id="city_id" formControlName="city_id">
                            <option value="" selected disabled>Select</option>
                            @for (row of cityList; track $index) {
                                 <option value="{{row.city_id}}">{{row.city_name}}</option>  
                            }
                        </select>   
                        @if(rwfisForm.get('city_id')?.invalid && rwfisForm.get('city_id')?.touched){
                            <span  class="text-danger">Please select valid Block</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="road_name"> Road Name</label><span class="text-danger">*</span>
                        <select class="form-select" [ngClass]="{ 'is-invalid':rwfisForm.get('road_name')?.invalid && rwfisForm.get('road_name')?.touched}" id="road_name" formControlName="road_name">
                            <option value="" selected disabled>Select</option>
                            @for (row of roadList; track $index) {
                             <option value="{{row.geometry_data_id}}">{{row.name_of_road}}</option> 
                            }  
                        </select>   
                        @if(rwfisForm.get('road_name')?.invalid && rwfisForm.get('road_name')?.touched){
                            <span  class="text-danger">Please select valid Road name</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="road_code">Road Code</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':rwfisForm.get('road_code')?.invalid && rwfisForm.get('road_code')?.touched}" id="road_code" formControlName="road_code" placeholder="Road Code">
                        @if(rwfisForm.get('road_code')?.invalid && rwfisForm.get('road_code')?.touched){
                            <span  class="text-danger">Please enter valid road code</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="total_length_km">Total Length (km)</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':rwfisForm.get('total_length_km')?.invalid && rwfisForm.get('total_length_km')?.touched}" id="total_length_km" formControlName="total_length_km" placeholder="Total Length (km)">
                        @if(rwfisForm.get('total_length_km')?.invalid && rwfisForm.get('total_length_km')?.touched){
                            <span  class="text-danger">Please enter valid total length (km)</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="survey_year">Survey Year</label><span class="text-danger">*</span>
                        <input type="date" class="form-control" [ngClass]="{ 'is-invalid':rwfisForm.get('survey_year')?.invalid && rwfisForm.get('survey_year')?.touched}" id="survey_year" formControlName="survey_year" placeholder="Total Length (km)">
                        @if(rwfisForm.get('survey_year')?.invalid && rwfisForm.get('survey_year')?.touched){
                            <span  class="text-danger">Please select valid survey year</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="survey_date">Survey Date</label><span class="text-danger">*</span>
                        <input type="date" class="form-control" [ngClass]="{ 'is-invalid':rwfisForm.get('survey_date')?.invalid && rwfisForm.get('survey_date')?.touched}" id="survey_date" formControlName="survey_date" placeholder="Total Length (km)">
                        @if(rwfisForm.get('survey_date')?.invalid && rwfisForm.get('survey_date')?.touched){
                            <span  class="text-danger">Please select valid survey date</span>
                        } 
                    </div>
                    <div class="col-md-12 d-flex align-items-end flex-column mb-3 mt-2">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>

        </app-showcode-card>
    </div>
</div>






