
<app-page-header title="Update Material" title1="Material Manage" activeTitle="Update Material"></app-page-header>

<div class="row">

    <div class="col-xl-12">
        <app-showcode-card [title]="'Update Material '+topTitle" [prism]="prismCode.formlayouts10">
            <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">  
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="product_name">Material Name</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':materialForm.get('product_name')?.invalid && materialForm.get('product_name')?.touched}"  id="product_name" formControlName="product_name" placeholder="Material Name">
                        @if(materialForm.get('product_name')?.invalid && materialForm.get('product_name')?.touched){
                            <span  class="text-danger">Please enter valid material name</span>
                        }
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="prod_unit">Material Unit</label><span class="text-danger">*</span>
                        <select class="form-select" [ngClass]="{ 'is-invalid':materialForm.get('prod_unit')?.invalid && materialForm.get('prod_unit')?.touched}" id="prod_unit" formControlName="prod_unit">
                            <option value="" selected disabled>Select unit</option>
                            <option value="m³/tons">m³/tons</option>
                            <option value="Liters">Liters</option>
                            <option value="Nos">Nos</option>
                            <option value="Kg">Kg</option>
                        </select>
                        @if(materialForm.get('prod_unit')?.invalid && materialForm.get('prod_unit')?.touched){
                            <span  class="text-danger">Please select valid material unit</span>
                        } 
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="prod_type">Material Type</label><span class="text-danger">*</span>
                        <select class="form-select" [ngClass]="{ 'is-invalid':materialForm.get('prod_type')?.invalid && materialForm.get('prod_type')?.touched}" id="prod_type" formControlName="prod_type">
                            <option value="" selected disabled>Select type</option>
                            <option value="Aggregate">Aggregate</option>
                            <option value="Asphalt">Asphalt</option>
                            <option value="Cement">Cement</option>
                            <option value="Steel">Steel</option>
                            <option value="Bitumen">Bitumen</option>
                            <option value="Other">Other</option>>
                        </select>
                        @if(materialForm.get('prod_type')?.invalid && materialForm.get('prod_type')?.touched){
                            <span  class="text-danger">Please select valid material type</span>
                        } 
                    </div>

                    @if(materialForm.get('prod_type')?.value === 'Other'){
                        <div class="col-md-6 mb-3" >
                            <label class="form-label"  for="other_type">Other Type</label>
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid':materialForm.get('other_type')?.invalid && materialForm.get('other_type')?.touched}"  id="other_type" formControlName="other_type" placeholder="Other">
                            @if(materialForm.get('other_type')?.invalid && materialForm.get('other_type')?.touched){
                                <span  class="text-danger">Please enter valid other material type </span>
                            }
                        </div>
                    }

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="product_desc">Material Description</label>
                        <textarea class="form-control" 
                                  id="product_desc" 
                                  formControlName="product_desc" 
                                  placeholder="Material Description">
                        </textarea>
                    </div>
                    
                    <!-- <div class="col-md-6 mb-3">
                        <label class="form-label" for="batch_no">Batch No</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':materialForm.get('batch_no')?.invalid && materialForm.get('batch_no')?.touched}" id="batch_no" formControlName="batch_no" placeholder="Batch No">
                        @if(materialForm.get('batch_no')?.invalid && materialForm.get('batch_no')?.touched){
                            <span  class="text-danger">Please enter valid batch no </span>
                        } 
                    </div> -->
                   
                    <div class="btn-list d-flex justify-content-end align-items-end">
                        <a href="javascript:void(0);" class="btn btn-primary-light btn-wave me-2" routerLink="/material/material-management">Cancel</a>
                        <button type="submit" class="btn btn-primary">Update</button>

                    </div>
                </div>
            </form>

        </app-showcode-card>
    </div>
</div>






