.app-sidebar .main-sidebar-header {
    height: 7.25rem;
}

.app-sidebar .main-sidebar-header .header-logo .desktop-logo {
    height: 3.5rem;
}

.app-sidebar .main-sidebar-header .header-logo .desktop-dark {
    height: 3.5rem;
}
.main-sidebar {
    margin-block-start: 7.25rem;
}