<div class="col-xl-12">
    <button type="button" class="btn btn-primary-light btn-wave me-2" data-bs-toggle="modal"
        (click)="openVerticallyCentered(Content2)" data-bs-target="#exampleModalXl">
        <i class="bx bx-plus align-middle"></i> Add Road
    </button>

    <div class="modal fade" id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <ng-template #Content2 let-modal>
                <form [formGroup]="roadForm" (ngSubmit)="onSubmit()">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalXlLabel">Add Road</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="projectNo" formControlName="projectNo" placeholder="">
                                        <label for="projectNo">Project No</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="roadName" formControlName="roadName" placeholder="">
                                        <label for="roadName">Road Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="cost" formControlName="cost" placeholder="">
                                        <label for="cost">Cost</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" (click)="modal.close('Close click')" [disabled]="roadForm.invalid">Add</button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>
