
<app-page-header title="Update Work Order" title1="Work Order Manage" activeTitle="Update Work Order"></app-page-header>

<div class="row">

    <div class="col-xl-12">
        <app-showcode-card [title]="'Update Work Order '+topTitle" [prism]="prismCode.formlayouts10">
            <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()">  
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="work_order_id">Work Order ID</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':workOrderForm.get('work_order_id')?.invalid && workOrderForm.get('work_order_id')?.touched}"  id="work_order_id" formControlName="work_order_id" placeholder="Work Order ID">
                        @if(workOrderForm.get('work_order_id')?.invalid && workOrderForm.get('work_order_id')?.touched){
                            <span  class="text-danger">Please enter valid work order id</span>
                        }
                    </div>
                    
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="type_of_work">Type of work</label><span class="text-danger">*</span>
                        <select class="form-select"  [ngClass]="{ 'is-invalid':workOrderForm.get('type_of_work')?.invalid && workOrderForm.get('type_of_work')?.touched}" id="type_of_work" formControlName="type_of_work">
                            <option value="" selected disabled>Select type</option>
                            <option value="Routine Maintenance">Routine Maintenance</option>
                            <option value="Special Repair">Special Repair</option>
                            <option value="New Construction">New Construction</option>
                            <option value="Other">Other</option>
                        </select>
                        @if(workOrderForm.get('type_of_work')?.invalid && workOrderForm.get('type_of_work')?.touched){
                            <span  class="text-danger">Please select valid type of work</span>
                        } 
                    </div>
                        <div class="col-md-4 mb-3" >
                            <label class="form-label"  for="other_type_of_work">Other Type</label>
                             @if(workOrderForm.get('type_of_work')?.value === 'Other'){
                                <input type="text" class="form-control" [ngClass]="{ 'is-invalid':workOrderForm.get('other_type_of_work')?.invalid && workOrderForm.get('other_type_of_work')?.touched}"  id="other_type_of_work" formControlName="other_type_of_work" placeholder="Other Type">
                                @if(workOrderForm.get('other_type_of_work')?.invalid && workOrderForm.get('other_type_of_work')?.touched){
                                  <span  class="text-danger">Please enter valid other type of work </span>
                                }
                             }
                        </div>
                    

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="chainage_km_from">Chainage km From</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':workOrderForm.get('chainage_km_from')?.invalid && workOrderForm.get('chainage_km_from')?.touched}"  id="chainage_km_from" formControlName="chainage_km_from" placeholder="Chainage km From">
                        @if(workOrderForm.get('chainage_km_from')?.invalid && workOrderForm.get('chainage_km_from')?.touched){
                            <span  class="text-danger">Please enter valid chainage km from</span>
                        }
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="chainage_km_to">Chainage km To</label><span class="text-danger">*</span>
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid':workOrderForm.get('chainage_km_to')?.invalid && workOrderForm.get('chainage_km_to')?.touched}"  id="chainage_km_to" formControlName="chainage_km_to" placeholder="Chainage km To">
                        @if(workOrderForm.get('chainage_km_to')?.invalid && workOrderForm.get('chainage_km_to')?.touched){
                            <span  class="text-danger">Please enter valid chainage km to</span>
                        }
                    </div>

                    <br>
                    <div class="btn-list d-flex justify-content-end align-items-end pb-2">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    
                    <hr>

                    <div class="table-responsive">
                        <form [formGroup]="workOrderForm">
                          <table class="table text-nowrap">
                            <thead class="table-primary">
                              <tr>
                                <th scope="col">BOQ Item Code</th>
                                <th scope="col">Scope of Work</th>
                                <!-- @if(workOrderForm.get('scope_of_work')?.value === 'Other'){ -->
                                 <!-- <th scope="col">Other</th> -->
                                <!-- } -->
                                <th scope="col">Remark</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody formArrayName="workOrderItems">
                              <tr *ngFor="let item of workOrderItems.controls; let i = index" [formGroupName]="i">
                                <td>
                                    <select class="form-select" [ngClass]="{ 'is-invalid':item.get('boq_item_code')?.invalid && item.get('boq_item_code')?.touched}" id="boq_item_code" formControlName="boq_item_code">
                                      <option value="" selected disabled>Select boq item code</option>
                                      <option value="Item code 1">Item code 1</option>
                                      <option value="Item code 2">Item code 2</option>
                                  </select>
                                  <span class="text-danger" *ngIf="item.get('boq_item_code')?.invalid && item.get('boq_item_code')?.touched">
                                    Please select boq item code
                                  </span>
                                  </td>

                                  <td>
                                    <select class="form-select" [ngClass]="{ 'is-invalid':item.get('scope_of_work')?.invalid && item.get('scope_of_work')?.touched}" id="scope_of_work" formControlName="scope_of_work">
                                      <option value="" selected disabled>Select scope of work</option>
                                      <option value="Earthwork">Earthwork</option>
                                      <option value="Asphalt Layer">Asphalt Layer</option>
                                      <option value="Concrete Drain">Concrete Drain</option>
                                      <option value="Pavement Marking">Pavement Marking</option>
                                      <option value="Bridge Work">Bridge Work</option>
                                      <option value="Other">Other</option>
                                  </select>
                                  <span class="text-danger" *ngIf="item.get('scope_of_work')?.invalid && item.get('scope_of_work')?.touched">
                                    Please selec scope of work
                                  </span>
                                  </td>
                               
                                <!-- <td>
                                  @if(workOrderForm.get('scope_of_work')?.value === 'Other'){
                                     <input type="text" class="form-control" formControlName="other_scope" placeholder="Other Scope" [ngClass]="{ 'is-invalid': item.get('other_scope')?.invalid && item.get('other_scope')?.touched }" />
                                        }
                                </td> -->
                                <td>
                                    <textarea
                                      class="form-control"
                                      formControlName="remark"
                                      placeholder="Remark"
                                      [ngClass]="{ 'is-invalid': item.get('remark')?.invalid && item.get('remark')?.touched }"
                                    ></textarea>
                                  </td>
                                  

                                <td>

                                  <a href="javascript:void(0);" title="Delete" (click)="saveRow(item)" class="btn btn-primary-light btn-wave">Save</a> &nbsp;

                                    <a href="javascript:void(0);" title="Delete" data-bs-toggle="modal"
                                        (click)="removeRow(i)" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill"><i
                                                class="ri-delete-bin-line"></i></a>
                                </td>
                              </tr>

                              <a href="javascript:void(0);" title="Delete" (click)="addWorkOrderItem()" data-bs-toggle="modal" class=" mt-2 btn btn-primary">Add New Product</a>
                            </tbody>
                          </table>
                        </form>
                      </div>
                    
                    <div class="btn-list d-flex justify-content-end align-items-end">
                      <a href="javascript:void(0);" class="btn btn-primary-light btn-wave" routerLink="/work-order">Cancel</a>
                      <!-- <button type="submit" class="btn btn-primary">Update</button> -->

                    </div>
                </div>
            </form>

        </app-showcode-card>
    </div>
</div>






