<app-page-header title="Flexible Distress" title1="Flexible Distress" activeTitle="Flexible Distress"></app-page-header>

<div class="row">
    <div class="col-xl-12">

        <app-showcode-card [title]="'Flexible Distress'" [prism]="prismCode.table18">
            <!-- <div class="d-flex align-items-center justify-content-between my-1 page-header-breadcrumb flex-wrap gap-2">
                <form class="d-flex align-items-center gap-2 flex-wrap w-100">
                    <select class="form-select" style="width: auto; min-width: 200px;">
                            <option value="" selected disabled>Select Road</option>
                            @for (row of geometryList; track $index) {
                                <option value="{{row.geometry_data_id}}">{{row.name_of_road}}</option>
                            }
                    </select>
                    <input type="date" class="form-control" style="width: auto; min-width: 200px;">
                    <input type="date" class="form-control" style="width: auto; min-width: 200px;">

                   
                </form>
            
                  <div class="btn-list">
                        <a href="javascript:void(0);" class="btn btn-primary-light btn-wave me-2" routerLink="/ris/road-manage/add-flexible-distress"> <i class="bx bx-plus align-middle"></i> Add Flexible Distress</a>
                       <app-add-distress></app-add-distress>  
                    </div>
                
            </div> -->

            <div class="d-flex align-items-center justify-content-between my-1 page-header-breadcrumb flex-wrap gap-2">
                <form [formGroup]="filterForm" (ngSubmit)="filterDistress()"  class="d-flex align-items-center gap-2 flex-wrap w-100">
                    <select class="form-select" style="width: auto; min-width: 200px;" id="geometry_data_id" formControlName="geometry_data_id">
                        <option value="null" selected disabled>Select Road</option>
                        @for (row of geometryList; track $index) {
                            <option value="{{row.geometry_data_id}}">{{row.name_of_road}}</option>
                        }
                    </select>&nbsp;&nbsp;
                    <label>From</label>
                    <input type="date" class="form-control" style="width: auto; min-width: 200px;" id="start_date" formControlName="start_date">
                    <label>TO</label>
                    <input type="date" class="form-control" style="width: auto; min-width: 200px;" id="end_date" formControlName="end_date">
                    <button type="submit" class="btn btn-primary">filter</button>
                    <button type="reset" class="btn btn-secondary" (click)="resetFilter()">Reset</button>
                    
                    <!-- Use ms-auto to push the button to the right -->
                    <div class="btn-list ms-auto">
                        <a href="javascript:void(0);" class="btn btn-primary-light btn-wave" routerLink="/ris/road-manage/add-flexible-distress"> 
                            <i class="bx bx-plus align-middle"></i> Add Flexible Distress
                        </a>
                    </div>
                </form>
            </div>
            
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Road Name</th>
                            <th scope="col">Chainage Start</th>
                            <th scope="col">Chainage End</th>
                            <th scope="col">State</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Action</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @for (row of tableData; track $index) {
                            <tr>
                                <td>{{row.name_of_road}}</td>
                                <td>{{row.chainage_start}}</td>
                                <td>{{row.chainage_end}}</td>
                                <td>{{row.state_name}}</td>
                                <td>{{row.first_name}} {{row.last_name}}</td>
                                <td>{{row.created_on | date:'yyyy-MM-dd'}}</td>
                                <td>
                                    <div class="hstack gap-2 fs-15">
                                        <a href="javascript:void(0);" title="View" [routerLink]="['/ris/road-manage/view-flexible-distress', row.flexible_distress_id]"
                                            class="btn btn-icon btn-sm btn-success-transparent rounded-pill"><i
                                            class="ri-eye-line"></i></a>

                                        <a href="javascript:void(0);" title="Edit" [routerLink]="['/ris/road-manage/edit-flexible-distress', row.flexible_distress_id]"
                                            class="btn btn-icon btn-sm btn-info-transparent rounded-pill"><i
                                            class="ri-edit-line"></i></a>

                                        <a href="javascript:void(0);" title="Delete" data-bs-toggle="modal"
                                        (click)="open(content,row.flexible_distress_id)" data-bs-target="#exampleModal"
                                            class="btn btn-icon btn-sm btn-danger-transparent rounded-pill"><i
                                            class="ri-delete-bin-line"></i></a> 

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </app-showcode-card>
    </div>
  
</div>

    <!-- delete -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <ng-template #content let-c="close" let-d="dismiss">
               <div class="modal-header">
                   <h6 class="modal-title" id="exampleModalLabel1">Confirme</h6>
                   <button type="button" class="btn-close" data-bs-dismiss="modal"
                       (click)="d('Cross click')" aria-label="Close"></button>
               </div>
               <div class="modal-body">
                   Are you sure you want to delete?
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-primary" (click)="c('Closelick')" (click)="delete()">Yes</button>
                   <button type="button" class="btn btn-secondary" (click)="c('Closelick')"
                       data-bs-dismiss="modal">No</button>
               </div>
           </ng-template>
       </div>
   </div>
   </div>
