<app-page-header
  title="Update Road"
  title1="Update Road"
  activeTitle="Update Road"
></app-page-header>

<div class="row">
  <div class="col-xl-12">
    <app-showcode-card
      [title]="'Update Road'"
      [prism]="prismCode.formlayouts10"
    >
      <form [formGroup]="roadForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label" for="name_of_road">Name Of Road</label
            ><span class="text-danger">*</span>
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  roadForm.get('name_of_road')?.invalid &&
                  roadForm.get('name_of_road')?.touched
              }"
              id="name_of_road"
              formControlName="name_of_road"
              placeholder="Name Of Road"
            />
            @if(roadForm.get('name_of_road')?.invalid &&
            roadForm.get('name_of_road')?.touched){
            <span class="text-danger">Please enter valid name of road</span>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="type_of_road">Type Of Road</label
            ><span class="text-danger">*</span>
            <select
              class="form-select"
              [ngClass]="{
                'is-invalid':
                  roadForm.get('type_of_road')?.invalid &&
                  roadForm.get('type_of_road')?.touched
              }"
              id="type_of_road"
              formControlName="type_of_road"
            >
              <option value="" selected disabled>Select</option>
              <option value="BT">BT</option>
              <option value="CC">CC</option>
            </select>
            @if(roadForm.get('type_of_road')?.invalid &&
            roadForm.get('type_of_road')?.touched){
            <span class="text-danger">Please select type of road</span>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="length_of_road"
              >Total Length of Road/Highway (km)</label
            ><span class="text-danger">*</span>
            <input
              type="number"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  roadForm.get('length_of_road')?.invalid &&
                  roadForm.get('length_of_road')?.touched
              }"
              id="length_of_road"
              formControlName="length_of_road"
              placeholder="0.000"
            />
            @if(roadForm.get('length_of_road')?.invalid &&
            roadForm.get('length_of_road')?.touched){
            <span class="text-danger">Please enter valid length of road</span>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label" for="carriage_way_lanes"
              >Carriage Way (No. of Lane)</label
            ><span class="text-danger">*</span>
            <select
              class="form-select"
              [ngClass]="{
                'is-invalid':
                  roadForm.get('carriage_way_lanes')?.invalid &&
                  roadForm.get('carriage_way_lanes')?.touched
              }"
              id="carriage_way_lanes"
              formControlName="carriage_way_lanes"
            >
              <option value="" selected disabled>Select</option>
              <option value="L1">L1</option>
              <option value="L2">L2</option>
              <option value="L3">L3</option>
            </select>
            @if(roadForm.get('carriage_way_lanes')?.invalid &&
            roadForm.get('carriage_way_lanes')?.touched){
            <span class="text-danger">Please select carriage way lanes</span>
            }
          </div>

          <div class="col-md-12 d-flex align-items-end flex-column mb-3 mt-2">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </app-showcode-card>
  </div>
</div>
